*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: #0A0A0A;
    --mint: #9FFFE3;
    --purple: #5F15C9;
    --yellow: #E4C953;
    --red: #C91525;
}

body {
    min-width: 100vw;
}

header {
    height: 89px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--red);
}


.logotype {
    width: 158px;
    height: 28px;
    margin-left: 20px;
}

.menu {
    width: 25px;
    height: 17px;
    margin-right: 20px;
}

.red {
    height: 812px;
    width: 100vw;
    background: var(--red);
}

.imgtest {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    object-fit: cover;
}

.mint {
    height: 812px;
    background: var(--mint);
}

.yellow {
    height: 886px;
    background: var(--yellow);
}

.purple {
    height: 1259px;
    background: var(--purple);
}

footer {
    height: 121px;
    background: var(--black);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Futura PT';
    font-size: 14px;
}

.test {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.socialMedia {
    margin: 5px;
}

.test2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}


@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {

    .red {
        height: 938px;
        background: var(--red);
    }

    .mint {
        height: 938px;
        background: var(--mint);
    }

    .yellow {
        height: 938px;
        background: var(--yellow);
    }

    .purple {
        height: 938px;
        background: var(--purple);
    }

    footer {
        height: 242px;
        background: var(--black);
    }

}