*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: #0A0A0A;
    --mint: #9FFFE3;
    --purple: #5F15C9;
    --yellow: #E4C953;
    --red: #C91525;
}

.red {
    height: 812px;
    background: var(--red);
}

.mint {
    height: 812px;
    background: var(--mint);
}

.yellow {
    height: 886px;
    background: var(--yellow);
}

.purple {
    height: 1259px;
    background: var(--purple);
}

footer {
    height: 121px;
    background: var(--black);
}


@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {

    .red {
        height: 938px;
        background: var(--red);
    }

    .mint {
        height: 938px;
        background: var(--mint);
    }

    .yellow {
        height: 938px;
        background: var(--yellow);
    }

    .purple {
        height: 938px;
        background: var(--purple);
    }

    footer {
        height: 242px;
        background: var(--black);
    }

}